{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <div class="row  p-5">
        <div class="col-md-4 ">
            <div class="h-100 p-5 text-bg-dark rounded-4 ">
                <div class="photo_profile bg-white mx-auto p-5" style="height: 200px; width: 200px; border-radius:100px; margin-top: -100px;"></div>    
                <h3 class="text-center mt-3">Carlos Agamez</h3>
                <!-- ... social ... -->
                <div class="row mt-3 text-center"style="font-size: 3rem;" >
                    <div class="col">
                        <i class="bi bi-github " ></i>
                    </div>
                    <div class="col">
                        <i class="bi bi-instagram "></i>
                    </div>
                    <div class="col">
                        <i class="bi bi-linkedin "></i>
                    </div>
                </div>
                
                <div class="row mt-3 text-center">
                    <div class="col">
                        <h5>followers</h5>
                        <h4>235</h4>
                    </div>
                    <div class="col">
                        <h5>Following</h5>
                        <h4>35</h4>
                    </div>
                  </div>

                <div class="list-group-item list-group-item-action d-flex gap-3 mt-3" aria-current="true">
                    <i class="bi bi-cloud-arrow-up-fill rounded-circle flex-shrink-0" style="font-size: 3rem;color: #49f260;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between ">
                        <div>
                            <h5 class="mb-0">Memory usage</h5>
                            <p class="mb-0 opacity-75">34.56MB in use.</p>
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px; background-color: #323232;">
                                <div class="progress-bar bg-success" style="width: 25%"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 text-center">
                    <div class="col">
                        <i class="bi bi-gear-fill" style="font-size: 3rem;"></i>
                        <h5>Setting</h5>
                    </div>
                    <div class="col">
                        <i class="bi bi-box-arrow-right" style="font-size: 3rem;"></i>
                        <h5>Logout</h5>
                    </div>
                  </div>

                    
            </div>
        </div>
        <div class="col-md-8 h-100 p-3 rounded-3 text-white h-100">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: #49f260;"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: #49f260;"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h1>Analysis Space</h1>
                    <div class="row d-flex row-cols-lg-3 align-items-stretch p-2 analitic_spaces" >
                        <div class="col rounded-3 mb-3">
                            <div class="card">
                                <div class="card__img"></div>
                                <div class="card__descr-wrapper">
                                <p class="card__title">
                                espacio 1
                                    </p>
                                    <p class="card__descr">
                                descripcion del proyecto 1  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col rounded-3 ">
                            <div class="card">
                                <div class="card__img"></div>
                                <div class="card__descr-wrapper">
                                <p class="card__title">
                                espacio 1
                                    </p>
                                    <p class="card__descr">
                                descripcion del proyecto 1  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col rounded-3 ">
                            <div class="card">
                                <div class="card__img"></div>
                                <div class="card__descr-wrapper">
                                <p class="card__title">
                                espacio 1
                                    </p>
                                    <p class="card__descr">
                                descripcion del proyecto 1  kasnckajbclhavcuqgñcqg
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col rounded-3 ">
                            <div class="card">
                                <div class="card__img"></div>
                                <div class="card__descr-wrapper">
                                <p class="card__title">
                                espacio 1
                                    </p>
                                    <p class="card__descr">
                                descripcion del proyecto 1  wjfwigcilwbciowgcouehcoiehv'0ehv
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col rounded-3 ">
                            <div class="card">
                                <div class="card__img"></div>
                                <div class="card__descr-wrapper">
                                <p class="card__title">
                                espacio 1
                                    </p>
                                    <p class="card__descr">
                                descripcion del proyecto 1  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col rounded-3 ">
                            <div class="card">
                                <div class="card__img"></div>
                                <div class="card__descr-wrapper">
                                <p class="card__title">
                                espacio 1
                                    </p>
                                    <p class="card__descr">
                                descripcion del proyecto 1  lanciusclbakcvuosgcslhvilvñuviwñi
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <h1>Bog</h1>
                    <div class="row d-flex row-cols-lg-3 align-items-stretch p-2 analitic_spaces" style="max-height: 480px; overflow: auto;">
                    
                    </div>
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
        </div>
    </div>


    
  

{% endblock %}